@font-face {
    font-family: Oswald;
    src: url(../fonts/Oswald-Regular.ttf);
}
@font-face {
    font-family: Calendas;
    src: url(../fonts/Calendas_Plus.otf);
}
body {
    font-family: 'Oswald', 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald','Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
}




@media (min-width: 768px) {
    header.masthead {
        padding-top: 12rem;
        padding-bottom: 12rem;
    }
    header.masthead h1 {
        font-size: 3rem;
    }

}
@media (max-width: 768px) {

    .showcase .showcase-img {
        min-height: auto !important;
    }
}

.showcase .showcase-text {
    padding: 3rem;
}
.showcase  {
    text-align: center;
}

.showcase .showcase-img {
    min-height: 30rem;
    background-size: cover;
    max-height: 480px;
}
.section-img-full{
    display: none;
    margin-top: 100px;
    color: white;
    filter: grayscale(1) contrast(9) drop-shadow(0.05em 0.05em #000000);
}
.full-img-p{
    display: none;
    color: white;
    filter: grayscale(1) contrast(9) drop-shadow(0.05em 0.05em #000000);
}
@media (min-width: 768px) {
    .showcase .showcase-text {
        padding: 7rem;
    }
}





footer.footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.navbar{
    background:#ffffff !important;
}

.dropdown{
    border-radius:0;
    border:0;
}
.dropdown-menu{
    background: #ffffff;
    border:0;
    top:80%;
    border-left: solid 1px;
    border-right: solid 1px;
    border-radius: 0;
}
.dropdown-item:hover{
    background: #626262;
    color:#fff;
}
.dropdown-menu a{
    color: #000000;
}
.navbar .nav-item .nav-link{
    color: #000000; !important;

}
.navbar .nav-item .nav-link:hover .navbar .nav-item .nav-link{
    color:red !important;

}
#footer {
    padding-top: 35px;
    padding-bottom: 10px;
    color:#747474;

}
#footer p{
    color:#747474;

}

#footer section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #ffffff !important;
    font-size: 17px;
}
#footer h5{
    padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#747474;
}
#footer a {
    color: #747474;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
    padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
    font-size:25px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}
#footer ul.social li:hover a i {
    font-size:30px;
    margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
    color:#747474;
}
#footer ul.social li a:hover{
    color:#eeeeee;
}
#footer ul.quick-links li{
    padding: 3px 0;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}
#footer ul.quick-links li:hover{
    padding: 3px 0;
    margin-left:5px;
    font-weight:700;
}
#footer ul.quick-links li a i{
    margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
    #footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
}
.line-split{
    padding:0;
    width:100%;
    height:1px;
    background-color: black;
}
.positionFixed{
    position: fixed;
    z-index: 1;
    width: 100%;
    -webkit-box-shadow: 0px 9px 14px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 9px 14px -16px rgba(0,0,0,0.75);
    box-shadow: 0px 9px 14px -16px rgba(0,0,0,0.75);
}
.halfsize{
    width: 50%;
}
#footer_tyrol{
    max-width:170px;
}
#footer_hahn{
    max-width:35px;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgba(0,0,0,.7);
    border-top: 1px solid;
}
.carousel-item {
    height: 78vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
.lead{
    text-align: justify;
    font-size: 17px;
}
.lead-p{
    font-size: 17px;
}
.lead-slider {
    font-size: 30px;
    font-weight: 300;
    -webkit-background-clip: text;
    background-clip: text;
    text-align: center;
    color: white;
    filter: grayscale(1) contrast(9) drop-shadow(0.05em 0.05em #000000);
}
.btn-cta{
    border-radius: 0px;
    color: black;
    background: white;
}
.btn-cta a{
    color: black;
    text-decoration: none;
}
.btn-cta:hover{
    border:1px solid black;
}
/* form style */
.full {
    width: 100%;
    float: left;
    padding: 1em;
}

.half {
    width: 50%;
    float: left;
    padding: 1em;
}

.third {
    width: 33.3%;
    float: left;
    padding: 1em;
}
.quarter {
    width: 25%;
    float: left;
    padding: 1em;
}
form {
    margin: 0 auto;
    width: 80%;
}
.lang-section{
    display: inline-flex;
    right: 20px;
    top: 5px;
    position: absolute;
}
@media (max-width: 767px) {
    .half {
        width: 100%;
        float: left;
        padding: 1em;
    }

    .third {
        width: 100%;
        float: left;
        padding: 1em;
    }
    .quarter {
        width: 100%;
        float: left;
        padding: 1em;
    }
    .lang-section{
        display: block;
        right: auto;
        top: auto;
        position: relative;
    }
}
@media (max-width: 960px) {
    form {
        width: 100%;
        padding: 2em 10%;
    }
}

h2.heading {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 300;
    text-align: left;
    color: #45ae72;
    border-bottom: 1px dashed #80d4a4;
    padding: 1em;
    margin-bottom: 20px;
}

.controls {
    text-align: left;
    position: relative;
}
.controls input[type="text"],
.controls input[type="email"],
.controls input[type="tel"],
.controls textarea,
.controls button,
.controls select {
    padding: 12px;
    font-size: 14px;
    border: 2px solid #808184;
    width: 100%;
    color: #888;
    font-family: 'Lato', 'sans-serif';
    font-size: 16px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.controls input[type="text"]:focus, .controls input[type="text"]:hover,
.controls input[type="email"]:focus,
.controls input[type="email"]:hover,
.controls input[type="tel"]:focus,
.controls input[type="tel"]:hover,
.controls textarea:focus,
.controls textarea:hover,
.controls button:focus,
.controls button:hover,
.controls select:focus,
.controls select:hover {
    outline: none;
    border-color: #45ae72;
    background: #e9fff2;
}
.controls input[type="text"]:focus + label, .controls input[type="text"]:hover + label,
.controls input[type="email"]:focus + label,
.controls input[type="email"]:hover + label,
.controls input[type="tel"]:focus + label,
.controls input[type="tel"]:hover + label,
.controls textarea:focus + label,
.controls textarea:hover + label,
.controls button:focus + label,
.controls button:hover + label,
.controls select:focus + label,
.controls select:hover + label {
    color: #45ae72;
    cursor: text;
}
.controls select {
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}
.controls label {
    position: absolute;
    left: 20px;
    top: 28px;
    color: #999;
    font-size: 16px;
    display: inline-block;
    padding: 4px 10px;
    font-weight: 700;
    transition: color 0.3s, top 0.2s, font-size 0.2s;
}
.controls label.active {
    top: -10px;
    left: 16px;
    color: #555;
    font-style: oblique;
    font-size: 0.8em;
}
.controls textarea {
    resize: none;
    height: 200px;
}
.controls button {
    cursor: pointer;
    background-color: #46A8E3;
    border: none;
    color: #fff;
    padding: 12px 0;
    margin: 1em 0;
}
.controls button:hover {
    background-color: #7dc2eb;
}
.imgpreview{
    max-height: 250px;
    border: 1px solid black;
}
.floatLabel{
    font-family: helvetica, arial !important;
}
.Headline{
    font-size: 30px;
}
.btn-readmore{
    border: 1px solid grey;
    border-radius: 0;
    color: grey;
}
.btn-readmore:hover{
    border: 1px solid black;
    border-radius: 0;
    color: black;
}
.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 0px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.crud-blok{
    right: 20px;
    margin-top: 10px;
    display: none;
    width: 100%;
    position: absolute;
}
.crud-blok a{
    float:right;
    color:black;
}
.crud-blok button{
    color:black;
}
.crud-blok a:hover{
    color:white !important;
}
.crud-blok i{
    margin-right: 5px;
}
.pagesection:hover .crud-blok{
    display: block;
}

.other_content_crud{
    display: block;
    position: relative;
    top: 0px;
}
.other_content_crud .btn{
border-radius: 0px;
}
#to-top{
    display: none;
    position: fixed;
    padding: 10px 20px 10px 20px;
    background-color: rgba(0, 0, 0, 0.75);
    top: 93%;
    left: 87%;
    font-size: 17px;
    z-index: 10;
    color: white;
}
#to-top:hover{
    background-color: rgb(56, 136, 175);
    cursor: pointer;
    color:white;

}
.showcase-img .carousel-indicators {

    bottom: 40px;

}
.section-slider .carousel-item {
    height: auto;
}
.del_pic{
    position: absolute;
    color: red;
    font-size: 20px;
}
.del_pic:hover{
    cursor: pointer;
}
.activelang{
    border-top:1px solid black;
}
.custom-table-responsive th{
    font-size: 13px;
}
.td_img{
    max-width:40px ;
}
/*Toggle button*/
.switchToggle input[type=checkbox]{height: 0; width: 0; visibility: hidden; position: absolute; }
.switchToggle label {cursor: pointer; text-indent: -9999px; width:auto; max-width: 100px; height: 30px; background: #d1d1d1; display: block; border-radius: 100px; position: relative; }
.switchToggle label:after {content: ''; position: absolute; top: 2px; left: 2px; width: 26px; height: 26px; background: #fff; border-radius: 90px; transition: 0.3s; }
.switchToggle input:checked + label, .switchToggle input:checked + input + label  {background: #3e98d3; }
.switchToggle input + label:before, .switchToggle input + input + label:before {content: 'Hide'; position: absolute; top: 5px; left: 35px; width: 26px; height: 26px; border-radius: 90px; transition: 0.3s; text-indent: 0; color: #fff; }
.switchToggle input:checked + label:before, .switchToggle input:checked + input + label:before {content: 'Show'; position: absolute; top: 5px; left: 10px; width: 26px; height: 26px; border-radius: 90px; transition: 0.3s; text-indent: 0; color: #fff; }
.switchToggle input:checked + label:after, .switchToggle input:checked + input + label:after {left: calc(100% - 2px); transform: translateX(-100%); }
.switchToggle label:active:after {width: 60px; }
.toggle-switchArea { margin: 10px 0 10px 0; }

.carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: .6s;
    transition-property: opacity;
}

.carousel-fade  .carousel-item.active,
.carousel-fade  .carousel-item-next.carousel-item-left,
.carousel-fade  .carousel-item-prev.carousel-item-right {
    opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-right {
    opacity: 0;
}

.carousel-fade  .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-prev {
    transform: translateX(0);
    transform: translate3d(0, 0, 0);
}
.SecondaryContent{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.othercontent{
    padding:10px;
}

/*Slick slider*/
/* Slider */
.slick-slide {
    margin: 0px 20px;
}

.slick-slide div {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.review-item{
    padding: 5px;
}
.review-headline{
    text-align: center;
    font-size: 22px;
}
.review-text{
    font-size: 17px;
    text-align: center;
}
.review-rating{
    text-align: center;
    color: #BB8B41;
}
/* star rating */
.rating {
    display: inline-block;
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 50px;
}

.rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
}

.rating label:last-child {
    position: static;
}

.rating label:nth-child(1) {
    z-index: 5;
}

.rating label:nth-child(2) {
    z-index: 4;
}

.rating label:nth-child(3) {
    z-index: 3;
}

.rating label:nth-child(4) {
    z-index: 2;
}

.rating label:nth-child(5) {
    z-index: 1;
}

.rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.rating label .icon {
    float: left;
    color: transparent;
}

.rating label:last-child .icon {
    color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
    color: #09f;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
    color: #000;
    text-shadow: 0 0 5px #09f;
}
.custom-table-responsive{
    font-size: 12px;
}
.modallink:hover{
    cursor: pointer;

}
#map{
    height:300px;
}
#navbarTogglerDemo03{
    font-size: 19px;
    margin-top: 30px;
}
/* Custom navbar collapse */
/*
@media (min-width: 500px){
    .navbar-expand-custom {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-custom .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-custom .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    .navbar-expand-custom .navbar-collapse {
        display: flex!important;
    }
    .navbar-expand-custom .navbar-toggler {
        display: none;
    }
}
*/
/* Custom navbar collapse */

